<app-header />
<main>
  <ul id="user">
    @for(user of users; track user.id){
      <li>
        <app-user
          [user]="user"
          [selected]="user.id === selectedUserId"
          (select)="onSelectUser($event)"
        />
      </li>
    }

    <!-- <li *ngFor="let user of users">
      <app-user
      [user]="user  "
      (select)="onSelectUser($event)"
    />
    </li> -->
  </ul>
  <div>
    @if (selectedUser) {
      <app-task
      [userId]="selectedUser.id" [name]="selectedUser.name"
      />
    } @else {
      <p id="fallback"> Pilih Data Dulu bangg</p>
    }
      <!-- <app-task *ngIf="selectedUser; else fallback "[name]="selectedUser!.name"/>
      <ng-template #fallback>
        <p id="fallback"> Pilih Data Dulu bangg</p>
      </ng-template> -->
     
  </div>
  
</main>
